<h1>Connection</h1>

<%= render partial: "shared/flash" %>

<%= form_with url: sign_in_path, local: true do|form| %>

    <%= form.label :email %>
    <%= form.text_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>
    <%= link_to "Mot de pass oublié" %>

    <%= form.submit "Connection" %>
<% end %>