
<div class="container mb-0">

    <%= form_with model: @logement, local: true do |form| %>
            <div class="form-label">
                <%= form.label :title %>
            </div>
            
            <div class="mb-3">
                <%= form.text_field :title %>
            </div>

            <div class="form-label">
                <%= form.label :adresse %>
            </div>

            <div class="mb-3">
                <%= form.text_field :adresse %>
            </div>
            
            <div class="form-label">
                <%= form.label :zipcode %>
            </div>

            <div class="mb-3">
                <%= form.text_field :zipcode %>
            </div>


            <div class="form-label">
                <%= form.label :city %>
            </div>

            <div class="mb-3">
                <%= form.text_field :city %>
            </div>

            <div class="form-label">
                <%= form.label :start_date_of_availability %>
            </div>

            <div class="mb-3">
                <%= form.date_field :start_date_of_availability %>
            </div>

            <div class="form-label">
                <%= form.label :end_date_of_availability %>
            </div>

            <div class="mb-3">
                <%= form.date_field :end_date_of_availability %>
            </div>

            <div class="form-label">
                <%= form.label :voyageur %>
            </div>
            
            <div class="mb-3">
                <%= form.number_field :voyageur , in: 1...20, step: 1  %>
            </div>

            <div class="form-label">
                <%= form.label :price %>
            </div>
            
            <div class="mb-3">
                <%= form.text_field :price %>
            </div>

            <div class="form-label">
                <%= form.label :images %>
            </div>

            <div class="mb-3">
                <%= form.file_field :images, multiple: true %>
            </div>

            <%= form.submit "Ajouter logement" %>
    <% end %>

</div>
