
<div class="container">

    <%= form_with model: @logement, data: { controller:"places"}, local: true do |form| %>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label"><%= form.label :title %></label>
            <div class="col-sm-3">
                <%= form.text_field :title, class: "form-control"%>
            </div>
        </div>
        
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :adresse %></label>
            <div class="col-sm-3">
                <%= form.text_field :adresse , class: "form-control"%>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :zipcode %></label>
            <div class="col-sm-3">
                <%= form.text_field :zipcode , class: "form-control"%>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :city %></label>
            <div class="col-sm-3" >
                <%= form.text_field :city , class: "form-control", data: { places_target:"city"} %>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :start_date_of_availability %></label>
            <div class="col-sm-3">
                <%= form.date_field :start_date_of_availability , class: "form-control"%>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :end_date_of_availability %></label>
            <div class="col-sm-3">
                <%= form.date_field :end_date_of_availability , class: "form-control"%>
            </div>
        </div>

        <div class="row mb-3 ">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :voyageur %></label>
            <div class="col-sm-3">
                <%= form.number_field :voyageur, in: 1...20, step: 1, class: "form-control" %>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :price %></label>
            <div class="col-sm-3">
                <%= form.text_field :price, class: "form-control"%>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :images %></label>
            <div class="col-sm-3">
                <%= form.file_field :images, multiple: true, class: "form-control"%>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :description %></label>
            <div class="col-sm-3">
                <%= form.text_area :description, class: "form-control"%>
            </div>
        </div>

        <div class="row mb-3"> 
            <label for="inputEmail3" class="col-sm-2 col-form-label"><%= form.label :equipments %></label>
        
            <% Logement::ICONS.each_slice (13) do |key| %>
                <div class="col-3">
                    <div class="d-flex flex-column ">
                        <% key.each do |icons| %>

                            <div class="d-flex flex-row ">

                                <div class="m-2 align-self-center">
                                    <%= form.check_box :equipments, { multiple: true, checked: form.object.equipments&.include?(icons.to_s) }, icons, nil %>
                                </div>

                                <div class="m-2 align-self-center">
                                    <%= render "svg/#{icons}" %>
                                </div>
                            
                                <div class="m-2 align-self-center"> 
                                    <label for="inputEmail3" class="col-form-label"><%= form.label icons %></label>
                                </div>

                            </div>  
                        
                        <% end %>
                    </div>
                </div>
            <% end %> 
        </div>

        <button type="button" class="btn" ><%= form.submit "Ajouter logement", class:"btn btn-primary" %></button>
        
    <% end %>

</div>
