<h1>Logements</h1>

<%= link_to "nouveau logement", new_logement_path %> 

<table data-controller="places">
    <thead>
        <tr>    
            <th>Id du logement</th>
            <th>Propriétaire</th>
            <th>Title </th>
            <th>Adresse</th>
            <th>City</th>
            <th>lat</th>
            <th>lng</th>
            <th>voyageurs</th>
            <th>Date de début de disponibilité</th>
            <th>Date de fin de disponibilité</th>
            <th>Date de création </th>
        </tr>
    </thead>
    <tbody>
        <% @logements.each do |logement| %>
            <tr>
                <td><%= logement.id %>  </td>
                <td><%= logement.user_id %>  </td>
                <td><%= logement.title %></td>
                <td><%= logement.adresse %></td>
                <td><%= logement.city %></td>
                <td><%= logement.latitude %></td> 
                <td><%= logement.longitude %></td> 
                <td><%= logement.voyageur %></td>
                <td><%= logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %></td> 
                <td><%= logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %></td>
                <td><%= logement.created_at.try(:strftime, ("%e %B %Y")) %></td>
                <td><%= link_to "show", logement_path(logement) %></td>
                <td><%= link_to "Delete", logement_path(logement), method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table> 

<%= tag.div id: "map", data: { markers: @logements.to_json(methods: [:address])} %> 
