
<div class="container">
    <h1 class="container-fluid text-center">Logements</h1>

    <a class="badge badge-primary text center"><%= link_to "Nouveau logement", new_logement_path %></a>
</div>


<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Propriétaire</th>
          <th scope="col">Title </th>
          <th scope="col">Adresse</th>
          <th scope="col">City</th>
          <th scope="col">voyageurs</th>
          <th scope="col">Prix €/nuit</th>
          <th scope="col">Date de début de disponibilité</th>
          <th scope="col">Date de fin de disponibilité</th>
          <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
    <% @logements.each do |logement| %>
        <tr>
            <td><%= logement.id %>  </td>
            <td><%= logement.user_id %>  </td>
            <td><%= logement.title %></td>
            <td><%= logement.adresse %></td>
            <td><%= logement.city %></td> 
            <td><%= logement.voyageur %></td>
            <td><%= logement.price %></td>
            <td><%= logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %></td> 
            <td><%= logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %></td>
            <td><button type="button" class="btn btn-primary"><%= link_to "show", logement_path(logement), class: "link-light" %></button></td>
            <%# <td><button type="button" class="btn btn-danger"><%= link_to "Delete", logement_path(logement), class: "link-light", method: :delete %></button></td> 
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @logements %>

</div>
 