<h1 class="container-fluid">Logement <%= @logement.title %></h1>

<table>
    <thead>
        <tr>
            <th>Title </th>
            <th>Adresse</th>
            <th>City</th>
            <th>lat</th>
            <th>lng</th>
            <th>voyageurs</th>
            <th>Prix</th>
            <th>Date de début de disponibilité</th>
            <th>Date de fin de disponibilité</th>
            <th>Photos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @logement.title %></td>
            <td><%= @logement.adresse %></td>
            <td><%= @logement.city %></td>
            <td><%= @logement.latitude %></td> 
            <td><%= @logement.longitude %></td> 
            <td><%= @logement.voyageur %></td>
            <td><%= @logement.price%></td>
            <td><%= @logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %></td> 
            <td><%= @logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %></td>
            <td><% @logement.images.each do |photo| %>
                    <%= image_tag photo.url %>
            <% end %></td>
            <td><%= link_to "Edit", edit_logement_path(@logement) %></td>
        </tr>
    </tbody>
</table> 

<% if !@logement.comments.empty? %>
    <% @logement.comments.each do |comment| %>

        <p>
            <strong>Commenter:</strong>
            <%= comment.user.name %>
        </p>

        <p>
            <strong>Comment:</strong>
            <%= comment.body %>
        </p>
    <% end %>
<% end %> 


<% if @test %>
    <h1>Add a comment:</h1>
        <%= form_with model: [ @logement, @logement.comments.build ] do |form| %>
            <%= form.hidden_field :user_id, value: current_user.id %>
        
            <p>
                <%= form.label :body %><br>
                <%= form.text_area :body %>
            </p>

            <p>c id="carouselExampleControls" class="carousel slide"gh
                <%= form.submit %>
            </p>
        <% end %>
<% end %> 


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active block-header">
      <%= video_tag "Pexels Videos 2252797.mp4", :size => "3840 x 2160", class:"d-block w-100 ", autoplay: :autoplay, loop: :loop, muted: :muted %>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, temporibus?
      </div>
    </div>
    
    <div class="carousel-item block-header">
      <%= video_tag "video.mp4", :size => "3840 x 2160", class:"d-block w-100", autoplay: :autoplay, loop: :loop, muted: :muted %>
    </div>

    <div class="carousel-item block-header">
      <%= video_tag "production ID_3783242.mp4", :size => "3840 x 2160", class:"d-block w-100", autoplay: :autoplay, loop: :loop, muted: :muted %>
    </div>

    <div class="carousel-item block-header ">
      <%= video_tag "tropical.mp4", :size => "3840 x 2160", class:"d-block w-100 cover",autoplay: :autoplay, loop: :loop, muted: :muted %>
    </div>
</div>

