<%=  render "shared/carousel"%>

<h1 class="container-fluid">Logement <%= @logement.title %></h1>

<table>
    <thead>
        <tr>
            <th>Title </th>
            <th>Adresse</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>voyageurs</th>
            <th>Prix</th>
            <th>Date de début de disponibilité</th>
            <th>Date de fin de disponibilité</th>
            <th>Photos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @logement.title %></td>
            <td><%= @logement.adresse %></td>
            <td><%= @logement.city %></td>
            <td><%= @logement.zipcode %></td>
            <td><%= @logement.voyageur %></td>
            <td><%= @logement.price%></td>
            <td><%= @logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %></td>
            <td><%= @logement.description %></td>
                
                <%= @logement.equipments.each do |key, value| %>
                        
                    <td><p><% <%= key %> <%= value %>  %></p></td>
                       
                
                <% end %>
                
            

            <td><%= link_to "Edit", edit_logement_path(@logement) %></td>
        </tr>
    </tbody>
</table> 

<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tools-kitchen-2" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" stroke-width=\"2\" stroke=\"currentColor\" fill=\"none\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path stroke=\"none\" d=\"M0 0h24v24H0z\" fill=\"none\"></path><path d=\"M19 3v12h-5c-.023 -3.681 .184 -7.406 5 -12zm0 12v6h-1v-3m-10 -14v17m-3 -17v3a3 3 0 1 0 6 0v-3\"></path></svg>

<% if !@logement.comments.empty? %>
    <% @logement.comments.each do | |comment| %>

        <p>
            <strong>Commenter:</strong>
            <%= comment.user.name %>
        </p>

        <p>
            <strong>Comment:</strong>
            <%= comment.body %>
        </p>
    <% end %>
<% end %> 


<% if @test %>
    <h1>Add a comment:</h1>
        <%= form_with model: [ @logement, @logement.comments.build ] do |form| %>
            <%= form.hidden_field :user_id, value: current_user.id %>
        
            <p>
                <%= form.label :body %><br>
                <%= form.text_area :body %>
            </p>

            <p>
                <%= form.submit %>
            </p>
        <% end %>
<% end %> 

