<h1 class="container-fluid">Logement <%= @logement.title %></h1>

<table>
    <thead>
        <tr>
            <th>Title </th>
            <th>Adresse</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>voyageurs</th>
            <th>Prix</th>
            <th>Date de début de disponibilité</th>
            <th>Date de fin de disponibilité</th>
            <th>Photos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @logement.title %></td>
            <td><%= @logement.adresse %></td>
            <td><%= @logement.city %></td>
            <td><%= @logement.zipcode %></td>
            <td><%= @logement.voyageur %></td>
            <td><%= @logement.price%></td>
            <td><%= @logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %></td> 
            <td><%= @logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %></td>
            <td><% @logement.images.each do |photo| %>
                    <%= image_tag photo.url %>
            <% end %></td>
            <td><%= link_to "Edit", edit_logement_path(@logement) %></td>
        </tr>
    </tbody>
</table> 

<% if !@logement.comments.empty? %>
    <% @logement.comments.each do |comment| %>

        <p>
            <strong>Commenter:</strong>
            <%= comment.user.name %>
        </p>

        <p>
            <strong>Comment:</strong>
            <%= comment.body %>
        </p>
    <% end %>
<% end %> 


<% if @test %>
    <h1>Add a comment:</h1>
        <%= form_with model: [ @logement, @logement.comments.build ] do |form| %>
            <%= form.hidden_field :user_id, value: current_user.id %>
        
            <p>
                <%= form.label :body %><br>
                <%= form.text_area :body %>
            </p>

            <p>
                <%= form.submit %>
            </p>
        <% end %>
<% end %> 

