
<h1><%= @logement.title %></h1>


<p><%= @logement.adresse %></p>             

<ul>
    <li><%= link_to "Edit", edit_logement_path(@logement) %></li>
    <li><%= link_to "Suprimer", logement_path(@logement), method: :delete %></li>
    <li><%= link_to "Retour", logements_path %></li>
</ul>

