

 
    <%= @logement.title %>
    <%= @logement.adresse %>
    <%= @logement.zipcode %>
    <%= @logement.city %>
    <%= @logement.voyageur %>
    <%= @logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %>
    <%= @logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %>
    <%= link_to "show", logement_path(@logement) %>


<ul>
    <li><%= link_to "Edit", edit_logement_path(@logement) %></li>
    <li><%= link_to "Suprimer", logement_path(@logement), method: :delete %></li>
    <li><%= link_to "Retour", logements_path %></li>
</ul>

