<%=  render "shared/carousel"%>

<div class="d-flex flex-column flex-md-row flex-sm-row m-5">

    <div class="col-7">
    
        <% if current_user.id == @logement.user_id%>
            <h2 class="container"><%= link_to "Edit", edit_logement_path(@logement), class:"link-primary" %></h2> 
        <% end %>
        
        <div class="d-flex flex-column m-4">

            <div class="d-flex justify-content-between align-items-center">
                <h1 class="display-4"><%= @logement.title %></h1>

                <div class="d-flex flex-row mx-5">
                    <%= render "svg/pointer" %> 
                    <%= @logement.city.capitalize %> 
                </div>
            </div>

            <div class="dropdown-divider "></div>

            <%= @logement.description %>

            <div class="dropdown-divider "></div>

            <% @logement.equipments.each do |key| %>
                <div class="d-flex flex-row ">
                    <div class="m-2 align-self-center">
                        <%= render "svg/#{key}" %> 
                    </div>
                    <div class="m-2 align-self-center">
                        <%= key %>  
                    </div>
                </div>  
            <% end %>

        </div>

        <div class="dropdown-divider "></div>

        <div>
            <%= render 'comments/show' %>
        </div>

        <div class="dropdown-divider "></div>

        <% if @booked %>
            <%= render 'comments/form' %>
        <% end %>
        
    </div>

    <div class="col-5">
        <div class="sticky-top shadow-lg p-1 bg-body rounded">
            <div class="d-flex flex-column m-4">

                <h2>Date de disponibilité</h2>

                <div>
                    <p>Du <%= @logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %> jusqu'au <%= @logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %>    </p>
                </div>

                <div>
                    <h2>Reservation</h2> 

                    <div class="d-flex flex-column ">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Date de début</th>
                                    <th scope="col">Date de fin</th>
                                    <th scope="col">Prix</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @logement.bookings.each do |booking| %>
                                    <tr>
                                        <td><%= booking.start_booking.try(:strftime, ("%e %B %Y")) %></td>
                                        <td><%= booking.end_booking.try(:strftime, ("%e %B %Y")) %></td>
                                        <td><%= booking.t_price %></td>
                                        <td>
                                            <div class="row">
                                                <div class="col-1"><%= render "svg/"+ check_status(booking.id) %></div>
                                                <div class="col-1"><%= check_status(booking.id)%></div>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>