
<%= render 'shared/flash_errors', obj: @booking %>

<div class="container m-0">

    <%= form_with model: @booking, local: true do |form| %>

        <%= hidden_field_tag :logement_id, value= @logement.id %>

            <div class="form-label">
                <%= form.label @logement.price.to_s+'€/nuit' %>
            </div>

            <div class="form-label">
                <%= form.label :Arrivé %>
            </div>

            <div class="mb-3">
                <%= form.date_field :start_booking, value: @arrive, class: "form-control" %>
            </div>

            <div class="form-label">
                <%= form.label :Départ %>
            </div>

            <div class="mb-3">
                <%= form.date_field :end_booking, value: @depart, class: "form-control" %>
            </div>

            <div class="mb-3">
                <%= form.label 'Prix Total: '+@total+'€', class: "form-control" %>
            </div>

            <%= form.hidden_field :t_price, value: @total.to_i, class: "form-control"%>

            <div class="form-label">
                <%= form.label :voyageur %>
            </div>

            <div class="mb-3">
                <%= form.number_field :voyageur , in: 1...20, step: 1, value: @voyageur, class: "form-control" %>
            </div>

            <% if user_signed_in?  %>
                <%= form.submit "Reserver", class:"btn btn-success" %>
            <% else %>
                <%# <%= render 'devise/sessions/new' %> 
                <h3>Connectez-vous avant de reserver</h3>
            <% end %>
            
    <% end %>
</div>
