
<%= render 'shared/flash_errors', obj: @booking %>

<div class="container m-0">

    <%= form_with model: @booking, local: true do |form| %>

        <%= hidden_field_tag :logement_id, value= @logement.id%>

            <div class="form-label">
                <%= form.label :start_booking %>
            </div>
            
            <div class="mb-3">
                <%= form.date_field :start_booking, value: @arrive %>
            </div>

            <div class="form-label">
                <%= form.label :end_booking %>
            </div>

            <div class="mb-3">
                <%= form.date_field :end_booking, value: @depart %>
            </div>
            
            <div class="form-label">
                <%= form.label 'Prix: '+@logement.price.to_s+'€/nuit' %>
            </div>

            <div class="mb-3">
                <%= form.label 'Prix Total: '+@total+'€' %>
            </div>

            <%= form.hidden_field :t_price, value: @total.to_i%>

            <div class="form-label">
                <%= form.label :voyageur %>
            </div>

            <div class="mb-3">
                <%= form.number_field :voyageur , in: 1...20, step: 1, value: @voyageur %>
            </div>
        
            <%= form.submit "Reserver" %>
    <% end %>
</div>
