<h1 class="container-fluid">Edit Booking</h1>

<div class="container m-0">

    <%= form_with model: @booking , data: { controller:"price" } do |form| %>

            <div class="form-label">
                <%= form.label :start_booking %>
            </div>
            
            <div class="mb-3">
                <%= form.date_field :start_booking, value: @arrive, data: { price_target:"arrive"} %>
            </div>

            <div class="form-label">
                <%= form.label :end_booking %>
            </div>

            <div class="mb-3">
                <%= form.date_field :end_booking, value: @depart, data: { price_target:"depart"} %>
            </div>
            
            <div class="form-label">
                <%= form.label :voyageur %>
            </div>

            <div class="mb-3">
                <%= form.number_field :voyageur , in: 1...20, step: 1, value: @voyageur %>
            </div>

            <div class="mb-3">
                <%= form.label 'Prix Total:', data: { price_target:"t_price"}  %>
            </div>

            <%= form.submit "Reserver" %>
    <% end %>
</div>
