<h1>Edit Booking</h1>

<%= form_with(model: @booking) do |form| %>
    <%= form.label :start_booking %>
    <%= form.date_field :start_booking, value: @arrive %>

    <%= form.label :end_booking %>
    <%= form.date_field :end_booking, value: @depart %>

    <%= form.label :voyageur %>
    <%= form.number_field :voyageur , in: 1...20, step: 1, value: @voyageur %>

    <%= form.submit "Reserver" %>

<% end %>