<h1>Rservations</h1>

<%# <%= link_to "nouveau reservation", new_logement_path %> 

<table >
    <thead>
        <tr>    
            <th>Id reservation</th>
            <th>User de la reservation</th>
            <th>Id Logement</th>
            <th>Date de début de reservation</th>
            <th>Date de fin de reservation</th>
            <th>Date de création</th>
        </tr>
    </thead>
    <tbody>
        <% @bookings.each do |reservation| %>
            <tr>
                <td><%= reservation.id %>  </td>
                <td><%= reservation.user_id %>  </td>
                <td><%= reservation.logement_id %>  </td>
                <td><%= reservation.start_booking.try(:strftime, ("%e %B %Y")) %></td> 
                <td><%= reservation.end_booking.try(:strftime, ("%e %B %Y")) %></td>
                <td><%= reservation.created_at.try(:strftime, ("%e %B %Y")) %></td>
                <td><%= link_to "show", booking_path(reservation) %></td>
            </tr>
        <% end %>
    </tbody>
</table> 

