
<div class="container">
    <h1 class="container-fluid text-center">Utilisateurs du site</h1>
</div>

<%# <%= link_to "nouveau reservation", new_logement_path %> 
<div class="container">
<table class="table table-hover" >
    <thead>
        <tr>
            <th scope="col" >Id</th>
            <th scope="col" >Nom</th>
            <th scope="col" >Email</th>
            <th scope="col" >Confirmation envoié à</th>
            <th scope="col" >Confirmé à</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td> <%= user.id %></td>
                <%= hidden_field_tag :user_id, value: user.id %>
                <%# <%= :user_id, value: current_user.id %>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.confirmation_sent_at.try(:strftime, ("%e %B %Y")) %></td>
                <td><%= user.confirmed_at.try(:strftime, ("%e %B %Y")) %></td>
                <td><button type="button" class="btn btn-primary"><%= link_to "Profil", user_path(user), class: "link-light" %></button></td>
                <%# <td><button type="button" class="btn btn-danger"><%= link_to "Suprimer", users_path(user_id: user.id), class: "link-light", method: :delete %></button></td>  %>
            <tr>
        <% end %>
    </tbody>
</table>