
<div class="container">
    <h1 class="container-fluid text-center">Utilisateurs du site</h1>
</div>

<%# <%= link_to "nouveau reservation", new_logement_path %> 
<div class="container">
<table class="table table-hover" >
    <thead>
        <tr>
            <th scope="col" >Id</th>
            <th scope="col" >Nom</th>
            <th scope="col" >Email</th>
            <th scope="col" >Confirmation envoié à</th>
            <th scope="col" >Confirmé à</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.confirmation_sent_at.try(:strftime, ("%e %B %Y")) %></td>
                <td><%= user.confirmed_at.try(:strftime, ("%e %B %Y")) %></td>
                <td><%= link_to "Show", edit_user_registration_path(user.id)  %> </td>
                <td><%= link_to "Profil", user_path(user.id) %> </td> 
            <tr>
        <% end %>
    </tbody>
</table>


<%# <%= link_to "nouveau reservation", new_logement_path %> 