<div class="container">
    <h2 class="container-fluid text-center">Bonjour <%= @user.name %></h2>

    <h2 class="container-fluid text-center">Mes logements</h2>

    <a class="badge badge-primary"><%= link_to "Nouveau logement", new_logement_path, class:"btn btn-primary link-light" %></a>

    <% if current_user.id ==  @user.id %>
        <a class="badge badge-primary"><%= link_to "Modifier profil", edit_user_registration_path, class:"btn btn-primary link-light" %></a>
    <% end %>
</div>

<div class="d-flex flex-column">
    <%# NON USR CURRENT_USER!!!!!!! %>
    <% if !@user.logements.empty? %>
       
    <div class="container">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th scope="col" >Title </th>
                    <th scope="col" >Adresse</th>
                    <th scope="col" >City</th>
                    <th scope="col" >voyageurs</th>
                    <th scope="col" >Date de début de disponibilité</th>
                    <th scope="col" >Date de fin de disponibilité</th>
                </tr>
            </thead>
            <tbody>
                <% @user.logements.each do |logement| %>
                    <tr>
                        <td><%= logement.title %></td>
                        <td><%= logement.adresse %></td>
                        <td><%= logement.city %></td>
                        <td><%= logement.voyageur %></td>
                        <td><%= logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %></td> 
                        <td><%= logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %></td>
                        <td><button type="button" class="btn btn-primary"><%= link_to "show", logement_path(logement), class: "link-light", style: "text-decoration:none" %></button></td>
                        <td><button type="button" class="btn btn-danger"><%= link_to "Delete", logement_path(logement), class: "link-light", method: :delete, style: "text-decoration:none" %></button></td>
                    </tr>
                <% end %>
            </tbody>
        </table> 
    </div>

    <% end %>
        <h2 class="container-fluid text-center">Mes Reservations</h2>
        
        <div class="m-auto">
            <% @user.bookings.each do |booking| %>
                <div class="d-flex justify-content-end">
                    <div class="d-flex flex-row">
                        <p>Réservation du <%= booking.start_booking.try(:strftime, ("%e %B %Y"))%>  au <%= booking.end_booking.try(:strftime, ("%e %B %Y")) %>
                        <button type="button" class="btn btn-primary"><%= link_to "Ajouter commentaire", logement_path(booking.logement_id), class: " btn btn-primary link-light", style: "text-decoration:none" %></button>
                        <button type="button" class="btn btn-primary"><%= link_to "show", booking_path(booking.id), class: " btn btn-primary link-light", style: "text-decoration:none" %></button></p>
                    </div>
                </div>
            <%end%>
        </div>
        
</div>
