<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">

    <%= link_to "AIRBIBI", root_path(), class:"navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarScroll">
  <ul class="navbar-nav navbar-nav-scroll ms-auto">

    <% if user_signed_in?  %>
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
              
              <li><%= link_to "Profil", user_path(current_user), class:"dropdown-item"%></li>
              <li><hr class="dropdown-divider"></li>

                    <% if user_signed_in?  && current_user.admin %>
                      
                      <li><%= link_to "Liste des logements", logements_path, class:"dropdown-item" %></li>
                      <li><%= link_to "Liste des bookings", bookings_path, class:"dropdown-item" %></li>
                      <li><%= link_to "Utilisateurs du site", users_path, class:"dropdown-item" %></li>

                    <li><hr class="dropdown-divider"></li>
                      
                    <% end %>

                    <li><%= link_to "Sign Out", destroy_user_session_path, class:"dropdown-item", method: :delete %></li>

                    <% else %>
                      <li class="nav-item" > <%= link_to "Sign Up", new_user_registration_path, class:"nav-link active" %> </li> 

                <li class="nav-item" > <%= link_to "Sign In", new_user_session_path, class:"nav-link active" %>  </li>

            </ul>

        <% end %>
     
    </div>
  </div>
</nav>