<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
  
    <a class="navbar-brand" href="#">AIRBIBI</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarScroll">
  <ul class="navbar-nav navbar-nav-scroll ms-auto">

    <% if user_signed_in?  %>
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown">
              
              <li><%= link_to "Profil", user_path(current_user), class:"dropdown-item"%></li>
              <li><hr class="dropdown-divider"></li>

                                          <% if user_signed_in?  && current_user.admin %>
                                            
                                            <li><%= link_to "Liste des logements", logements_path, class:"dropdown-item" %></li>
                                            <li><%= link_to "Liste des bookings", bookings_path, class:"dropdown-item" %></li>
                                          <li><hr class="dropdown-divider"></li>
                                            
                                          <% end %>

                                          <li><%= link_to "Sign Out", destroy_user_session_path, class:"dropdown-item", method: :delete %></li>

                                          <% else %>
                                            <li class="nav-item" > <%= link_to "Sign Up", new_user_registration_path, class:"nav-link active" %> </li> 

                <li class="nav-item" > <%= link_to "Sign In", new_user_session_path, class:"nav-link active" %>  </li>

            </ul>

        <% end %>
     
    </div>
  </div>
</nav>









<div class="carousel slide carousel-fade" id="carouselExampleFade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5900">
      <%= video_tag "production ID_3783242.mp4", :size => "3840 x 2160", class:"d-block w-100", autoplay: :autoplay, loop: :loop, muted: :muted %>
      <div class=" carousel-caption">
        <h1>Envie d'évasion?</h1>
        <h1 class="title"> ready to get next holiday</h1>
      </div>
    </div>
    
    <div class="carousel-item" data-bs-interval="5010" >
      <%= video_tag "video.mp4", :size => "3840 x 2160", class:"d-block w-100", autoplay: :autoplay, loop: :loop, muted: :muted %>
      <div class=" carousel-caption">
        <h1 class="title">Dans une destination de rêve?</h1>
      </div>    
    </div>

    <div class="carousel-item" data-bs-interval="5010">
      <%= video_tag "tropical.mp4", :size => "3840 x 2160", class:"d-block w-100 cover",autoplay: :autoplay, loop: :loop, muted: :muted %>
      <div class=" carousel-caption">
        <h1 class="title">Dans une destination de rêve?</h1>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="6010">
      <%= video_tag "Pexels Videos 2252797.mp4", :size => "3840 x 2160", class:"d-block w-100 ", autoplay: :autoplay, loop: :loop, muted: :muted %>
      <div class=" carousel-caption">
        <h1 class="title">Alors envole toi</h1>
        <a href="#search" class="btn btn-primary">Par ici</a>
      </div>
    </div>
</div>




    <%= form_with url: "/search", method: :get, local: true do |form| %>

      <%= form.label :city %>
      <%= form.text_field :city, placeholder:"City" %>

      <%= form.label :arrive %>
      <%= form.date_field :arrive, placeholder:"Arrivée" %>

      <%= form.label :depart %>
      <%= form.date_field :depart, placeholder:"Départ" %>

      <%= form.label :voyageur %>
      <%= form.number_field :voyageur, placeholder:"Voyageur", in: 1..10, step: 1 %>

      <%= form.submit "Recherche" %>

  <% end %>

