
<div class="carousel slide carousel-fade " id="carouselExampleFade" data-bs-ride="carousel">

  <div class="carousel-inner">

    <div class="carousel-item active" data-bs-interval="5900">
      <div class=" carousel-caption">
        <h1>Envie d'évasion?</h1>
        <h1 class="title"> ready to get next holiday</h1>
      </div>
    </div>
    
    <div class="carousel-item" data-bs-interval="5010" >
      <div class=" carousel-caption">
        <h1 class="title">Dans une destination de rêve?</h1>
      </div>    
    </div>

    <div class="carousel-item" data-bs-interval="5010">
      <div class=" carousel-caption">
        <h1 class="title">Dans une destination de rêve?</h1>
      </div>
    </div>

    <div class="carousel-item" data-bs-interval="6010">
      <div class=" carousel-caption">
        <h1 class="title">Alors envole toi par ici!</h1>
      </div>
    </div>

    <div class="search position-absolute bottom-0 start-50 translate-middle-x bg-light mb-5 p-3">
      <%= form_with url: "/search", method: :get, class:"d-flex flex-column flex-md-row", local: true do |form|%>

          <%= form.text_field :city, placeholder:"Où allez-vous?", class:" input m-2 rounded-pill form-control" %>

          <div class="vr d-none d-md-block"></div>
          <div class="dropdown-divider d-block d-sm-block d-md-none"></div>
      
          <%= form.date_field :arrive, class:"input m-2 rounded-pill form-control" %>

          <div class="vr d-none d-md-block"></div>
          <div class="dropdown-divider d-block d-md-none"></div>
        
          <%= form.date_field :depart, class:"input m-2 rounded-pill form-control" %>

          <div class="vr d-none d-md-block"></div>
          <div class="dropdown-divider d-block d-md-none"></div>
      
          <%= form.number_field :voyageur, placeholder:"Ajoutes des voyageurs", class:" input m-2 rounded-pill form-control" %>

          <%= form.submit "Recherche", class:" input m-2 rounded-pill btn btn-outline-info" %>
      
      <% end %>
    </div>
  

  </div>
</div>

<div class="d-flex flex-column flex-md-row m-5">

    <div class="card bg-dark text-white m-2 align-self-sm-center " style="width: 20rem;">
      <%= image_tag "pexels-mart-lmj-2563986.jpg", class: "img-card" %>
      <div class="card-img-overlay">
        <h5 class="card-title">Paris</h5>
      </div>
    </div>

    <div class="card bg-dark text-white m-2 align-self-sm-center " style="width: 20rem;">
      <%= image_tag "remi-thorel-304R7qkgHe8-unsplash.jpg", class: "img-card" %>
      <div class="card-img-overlay">
        <h5 class="card-title">San francisco</h5>
      </div>
    </div>

    <div class="card bg-dark text-white m-2 align-self-sm-center " style="width: 20rem;">
      <%= image_tag "maarten-van-den-heuvel-Siuwr3uCir0-unsplash.jpg", class: "img-card" %>
      <div class="card-img-overlay">
        <h5 class="card-title">Guadeloupe</h5>
      </div>
    </div>

    <div class="card bg-dark text-white m-2 align-self-sm-center" style="width: 20rem;">
      <%= image_tag "pexels-erica-zhao-5033690.jpg", class: "img-card" %>
      <div class="card-img-overlay">
        <h5 class="card-title">Espagne</h5>
      </div>
    </div>

    <div class="card bg-dark text-white m-2 align-self-sm-center" style="width: 20rem;">
      <%= image_tag "aussieactive-1brtlzDq-o8-unsplash.jpg", class: "img-card" %>
      <div class="card-img-overlay">
        <h5 class="card-title">New York</h5>
      </div>
    </div>

</div>
