<div classs="menu">
    
</div>
<div class="main">
    <!--<%= image_tag('main.jpg', class:'img-main') %>-->
    <p class ="item-main">Voyagez local</p>
    <button class ="button-main">Découvrir les logements à proximité</button>
</div>

<div class="flex-container">
    <div class="row">
        <%= link_to "#" do %>
            <div class="img-div">
               <%= image_tag "saint_malo.jpeg", class:'img-flex' %>

            </div>
        <% end %>
        <%= link_to "#" do %>
            <div class="img-div">        
               <%= image_tag "tours.webp", class:'img-flex'%>

            </div>
        <% end %>
        <%= link_to "#" do %>
            <div class="img-div">
            <%= image_tag "trouville_sur_mer.jpeg", class:'img-flex'%>

            </div>
        <% end %>
        <%= link_to "#" do %>
            <div class="img-div" >
               <%= image_tag "quiberon.webp", class:'img-flex'%>

            </div>
        <% end %>
    </div>
   <div class="row">
        <%= link_to "#" do %>
            <div class="img-div">
                <%= image_tag "honfleur.jpeg", class: 'img-flex'%>
            </div>
        <% end %>
        <%= link_to "#" do %>
            <div class="img-div">
                <%= image_tag "la_bresse.webp", class: 'img-flex'%>
            </div>
        <% end %>
        <%= link_to "#" do %>
            <div class="img-div">
                <%= image_tag "granville.jpeg", class: 'img-flex'%>
            </div>
        <% end %>
        <%= link_to "#" do %>
            <div class="img-div">
                <%= image_tag "annecy.webp", class: 'img-flex'%>
            </div>
        <% end %>
    </div> 
</div>