<h1>Logement disponible pour réservation du <%= Date.parse(@arrive).try(:strftime, ("%e %B %Y")) %> jusqu'au <%= Date.parse(@depart).try(:strftime, ("%e %B %Y")) %></h1>

<table>
    <thead>
        <tr>
            <th>Id du logement</th>
            <th>Title </th>
            <th>Adresse</th>
            <th>City</th>
            <th>Disponible du </th>
            <th>Jusqu'au</th>
            <th>voyageurs</th>
        </tr>
    </thead>
    <tbody>
        <% @logements_disponible.each do |logement| %>
                <tr>
                    <td><%= logement.id %></td>
                    <td><%= logement.title %></td>
                    <td><%= logement.adresse %></td>
                    <td><%= logement.city %></td>
                    <td><%= logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %></td> 
                    <td><%= logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %></td>
                    <td><%= logement.voyageur %></td>
                    <td><%= link_to "voir", page_path(logement, depart: @depart, arrive: @arrive, voyageur: @voyageur) %></td>
                </tr>
        <% end %> 
    </tbody>
</table>

<%= tag.div id: "map", data: { markers: @logements_disponible.to_json(methods: [:address]) } %> 