<%# <div class="container">
    <h1 class="container-fluid text-center">Liste des logements pour la reservation du <%= @arrive.strftime("%e %B %Y")  au <%= @depart.try(:strftime, ("%e %B %Y")) à <%= @city.capitalize  </h1>
<%#</div> %>

<div class="row" >

    <div class="col-6">

        <div class="row row-cols-1 row-cols-md-2 g-auto">
            
            <% @logements_disponible.each do |logement| %>
                <div class="card m-auto" style="width: 20rem;">
                    <%= image_tag logement.images[0].url, class: "card-img-top", style:"max-height: 200px;" %>
                    <div class="card-body">
                        <h5 class="card-title"><%= logement.title%></h5>
                        <p class="card-text"></p>
                        <div class="row row-cols-2">
                            <p class="card-text"><%= logement.price%>€/nuit</p>
                            <a><%= link_to "voir", page_path(logement, depart: @depart, arrive: @arrive, voyageur: @voyageur), class:"btn btn-primary stretched-link" %></a>
                        </div>
                    </div>
                </div>
            <% end %>
            
        </div>  
    </div>  

    <div class="col-6 sticky-top">
        <div data-controller="center" data-center-latitude-value="<%= @latitude%>" data-center-longitude-value="<%= @longitude%>" data-center-target="map" data-center-markers-value="<%= @logements_disponible.to_json(methods: [:address])%>" style="height: 100%; width: 100%;"></div>
    </div>

</div>
