<h1>Logements disponibles</h1>

<table>
    <thead>
        <tr>
            <th>Title </th>
            <th>Adresse</th>
            <th>City</th>
            <th>Depart</th>
            <th>Arrivée</th>
            </tr>
        </thead>
        <tbody >
            <% @log.each do |logement| %>
                    <tr >
                        <td><%= logement.title %></td>
                        <div data-controller="places" data-places-lat-value="<%= logement.lat %>" data-places-lng-value="<%= logement.lng %>"></div>
                        <td><%= logement.adresse %></td>
                        <td><%= logement.city %></td>
                        <td><%= logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %></td> 
                        <td><%= logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %></td>
                    </tr>
            <% end %> 
        </tbody>
</table>

