<h1>Logement disponible pour réservation du <%= Date.parse(@arrive).try(:strftime, ("%e %B %Y")) %> jusqu'au <%= Date.parse(@depart).try(:strftime, ("%e %B %Y")) %></h1>

<div class="row">
    <div class="col-md-6">
        div.
        <% @logements_disponible.each do |logement| %>
            <%= logement.title %>
            <%= logement.adresse %>
            <%= logement.city %>
            <%= logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %> 
            <%= logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %>
            <%= logement.voyageur %>
            <%= link_to "voir", page_path(logement, depart: @depart, arrive: @arrive, voyageur: @voyageur) %>
        <% end %> 
    </div>
    
    <div class= "col-md-6" > 
        <%= tag.div id: "map", data: { markers: @logements_disponible.to_json(methods: [:address]) } %> 
    </div>

</div>
    

