
<h1>Show <%= @logement.title %> Id du logement:  <%= @logement.id %></h1>

    <%= @logement.title %>
    <%= @logement.adresse %>
    <%= @logement.zipcode %>
    <%= @logement.city %>
    <%= @logement.latitude %>
    <%= @logement.longitude %>
    <%= @logement.voyageur %>
    <%= @logement.price %>
    <%= @logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %>
    <%= @logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %>
    <% @logement.images.each do |photo| %>
        <%= image_tag photo.url %>
    <% end %>

<br>
<br>

<%= tag.div id: "map", data: { markers: @logement.to_json(methods: [:address])} %> 

<!-- link to new reservation-->
<h1>Booking</h1>

<%= render 'bookings/form' %>

<% if !@logement.comments.empty? %>
    <% @logement.comments.each do |comment| %>
        <p>
            <strong>Commenter:</strong>
            <%= comment.user.name %>
        </p>

        <p>
            <strong>Comment:</strong>
            <%= comment.body %>
        </p>
    <% end %>
<% end %> 


