


<div id="carouseleExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

            <div class="carousel-item active" >

                <div class="d-flex justify-content-center">

                    <div class="col">
                        <%= image_tag @logement.images[0].url, class: "d-block w-100"%>
                    </div>

                    <div class="col">
                        <%= image_tag @logement.images[1].url, class: "d-block w-100"%>
                    </div>

                    <div class="col">
                        <%= image_tag @logement.images[2].url, class: "d-block w-100"%>
                    </div>
                </div>
                
            </div>

            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <div class="col">
                        <%= image_tag @logement.images[3].url, class: "d-block w-100"%>
                    </div>
            
                    <div class="col">
                        <%= image_tag @logement.images[4].url, class: "d-block w-100"%>
                    </div>
            
                    <div class="col">
                        <%= image_tag @logement.images[5].url, class: "d-block w-100"%>
                    </div>
                </div>
            </div>    

            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <div class="col">
                        <%= image_tag @logement.images[6].url, class: "d-block w-100"%>
                    </div>

                    <div class="col">
                        <%= image_tag @logement.images[7].url, class: "d-block w-100"%>
                    </div>
                </div>
            </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouseleExampleSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouseleExampleSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-inner">
        <% 1.times do |i|%>
            <% @logement.images.each_slice(3) do |row| %>
                <div class="carousel-item <%= i == 0 ? 'active' : ' ' %>" >
                    <%= i=1 %>
                    <div class="d-flex justify-content-center">
                            <% row.each do |image| %>
                                <div class="col">
                                    <%= image_tag image.url, class:"d-block w-100" %>
                                </div>
                            <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> 


<h1>Show <%= @logement.title %> Id du logement:  <%= @logement.id %></h1>


    <%= @logement.title %>
    <%= @logement.city %>
    <%= @logement.voyageur %>
    <%= @logement.price %>
    <%= @logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %>
    <%= @logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %>

    <%# <% @logement.images.each do |photo| %>
        
        <%#<div class="col">
            <%= photo.index %>
            <%#<%= image_tag photo.url, class:"d-block w-100", alt:"100%x280" %>
        <%#</div> 
        
    <% end %>

   <%# <% @logement.images.each_with_index do |photo, index| %>
        
      <%#  <div class="col">
            <%= image_tag photo.url, class:"d-block w-100", alt:"100%x280" %>
        <%#</div> 
        
    <% end %> %>



<%= tag.div id: "map", data: { markers: @logement.to_json(methods: [:address])} %> 

<!-- link to new reservation-->
<h1 class="container-fluid">Booking</h1>

<%= render 'bookings/form' %>

<div class="container-fluid">
    <% if !@logement.comments.empty? %>
        <% @logement.comments.each do |comment| %>
            <p>
                <strong>Commenter:</strong>
                <%= comment.user.name %>
            </p>

            <p>
                <strong>Comment:</strong>
                <%= comment.body %>
            </p>
        <% end %>
    <% end %> 
</div>

