<%=  render "shared/carousel"%>

<div class="d-flex flex-column flex-md-row flex-sm-row m-5">

        <div class="col-8">
            <div class="d-flex flex-column m-4">
                <%= @logement.city %>
                <%= @logement.title %>

                <div class="dropdown-divider "></div>

                <%= @logement.description %>

                <div class="dropdown-divider "></div>

                <% @logement.equipments.each do |key| %>

                    <td><%= render "svg/#{key}" %></td>            
                    <td><%= key %></td>

                <% end %>
                
                <div class="dropdown-divider "></div>
            </div>
        </div>

        <div class="col-4">

            <div class="sticky-top p-2 shadow-lg p-3 mb-5 bg-body rounded">

                <div class="d-flex flex-column">  
                    <h1 class="container">Booking</h1>
                    <%= render 'bookings/form' %>
                </div>

            </div>

        </div>
</div>


<div class="container-fluid">
    <% if !@logement.comments.empty? %>
        <% @logement.comments.each do |comment| %>
            <p>
                <strong>Commenter:</strong>
                

                <%# <% if @logement.comments.user.avatar.empty? %>
                   <%#  <%= image_tag avatar.url, class:"d-block w-100" %>  
                <%# <% end %>

                <%# <% if @user.avatar.present? %>
             <%#  <%else %>
                <%#   <%= image_tag @user.avatar.url, class:"d-block w-100" %> 
             <%#  <% end %> 
                <% if comment.user.avatar.url.empty? %> 
                    <%= image_tag comment.user.avatar.url, class:"d-block w-100" %>
                <%else %>
                    <%= image_tag comment.user.avatar.url, class:"d-block w-100" %>
                <% end %>
                <%= image_tag comment.user.avatar.url, class:"d-block w-100" %>
                <%= comment.body %>
                <%= comment.created_at.try(:strftime, ("%e %B %Y")) %>

            </p>

            <p>
                <strong>Comment:</strong>
                <%= comment.body %>
            </p>
        <% end %>
    <% end %> 
</div>


    <% @logement.images.each_slice(2) do |row| %>

        <div class="d-flex justify-content-center">
                <% row.each do |image| %>
                    <div class="col">
                        <%= image_tag image.url, class:"d-block w-100" %>
                    </div>
                <% end %>
        </div>

        <div>
            <div></div>
            <div></div>
        </div>

    <% end %>



<%= tag.div id: "map", data: { markers: @logement.to_json(methods: [:address])} %> 
