
<h1>Show <%= @logement.title %> Id du logement:  <%= @logement.id %></h1>

    <%= @logement.title %>
    <%= @logement.adresse %>
    <%= @logement.zipcode %>
    <%= @logement.city %>
    <%= @logement.latitude %>
    <%= @logement.longitude %>
    <%= @logement.voyageur %>
    <%= @logement.price %>
    <%= @logement.start_date_of_availability.try(:strftime, ("%e %B %Y")) %>
    <%= @logement.end_date_of_availability.try(:strftime, ("%e %B %Y")) %>
    <% @logement.images.each do |photo| %>
        <%= image_tag photo.url %>
    <% end %>


    
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <%= image_tag "téléchargement.jpeg", class:"d-block w-50" %>
            </div>
            <div class="carousel-item">
                <%= image_tag "la_bresse.webp", class:"d-block w-50" %>
            </div>
            <div class="carousel-item">
                <%= image_tag "granville.jpg", class:"d-block w-50" %>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



            
        



<%= tag.div id: "map", data: { markers: @logement.to_json(methods: [:address])} %> 

<!-- link to new reservation-->
<h1 class="container-fluid">Booking</h1>

<%= render 'bookings/form' %>

<div class="container-fluid">
    <% if !@logement.comments.empty? %>
        <% @logement.comments.each do |comment| %>
            <p>
                <strong>Commenter:</strong>
                <%= comment.user.name %>
            </p>

            <p>
                <strong>Comment:</strong>
                <%= comment.body %>
            </p>
        <% end %>
    <% end %> 
</div>




