<%=  render "shared/carousel"%>

<div class="d-flex flex-column flex-md-row flex-sm-row m-5">

    <div class="col-7">
        <div class="d-flex flex-column m-4">

            <div class="d-flex justify-content-between align-items-center">
                <h1 class="display-4"><%= @logement.title %></h1>

                <div class="d-flex flex-row mx-5">
                    <%= render "svg/pointer" %> 
                    <%= @logement.city %> 
                </div>
            </div>

            <div class="dropdown-divider "></div>

            <%= @logement.description %>

            <div class="dropdown-divider "></div>

            <% @logement.equipments.each do |key| %>
                <div class="d-flex flex-row ">
                    <div class="m-2 align-self-center">
                        <%= render "svg/#{key}" %> 
                    </div>
                    <div class="m-2 align-self-center">
                        <%= key %>  
                    </div>
                </div>  
            <% end %>

            <%  if @logement.comments.present? %> 
                <div>
                    <%= render 'comments/show' %>
                </div>
            <% end %>
        </div>
    </div>

    <div class="col-5">
        <div class="sticky-top shadow-lg p-3 mb-5 bg-body rounded">
            <div class="d-flex flex-column"> 
        
                <h3 class="container">Booking du <%= Date.parse(@arrive).strftime("%B %e") %> au <%= Date.parse(@depart).strftime("%B %e %Y ") %></h3> 
                <%= render 'bookings/form' %>
            </div>
        </div>
    </div>    
</div>