<h1>Mise à jour mot de passe</h1>

<%= render partial: "shared/flash" %>

<%= form_with model: Current.user, url: edit_password_path, local: true do |form| %>

    <%= render partial: "shared/flash_errors", locals: { obj: Current.user } %>  

    <%= form.label :mot_de_pass %>
    <%= password_field_tag :current_password, params[:current_password], placeholder: "Current password" %>

    <%= form.label :nouveau_mot_de_pass %>
    <%= form.password_field :password %>

    <%= form.label :confirmer_mot_de_pass %>
    <%= form.password_field :password_confirmation %>

    <%= form.submit "Mise à jour du mot de passe" %>

<% end %>