<div class="container p-5 border border-dark rounded">

  <h2 class="text-center" ><%= t('.sign_in') %></h2>

  <div class="d-flex align-items-center justify-content-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="mb-3 form-control-sm">
        <label for="loginInputEmail" class="form-label"><%= f.label :email %></label>
        <%= f.text_field :email, class:"form-control" %>
      </div>

      <div class="mb-3 form-control-sm">
        <label for="loginInputPassword" class="form-label"><%= f.label :password%></label>
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>


      <div class="mb-3 form-control-sm">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me, class:"form-check-input" %>
          <label class="form-check-label" for="flexCheckDefault"><%= f.label :remember_me %></label>
      <% end %>
      </div>

      <div class="mb-3 form-control-sm">
        <%= f.submit t('.sign_in'), class:"btn btn-primary link-light" %>
      </div>

      <div class="mb-3 form-control-sm">
        <%= render "devise/shared/links" %>
      </div>

    <% end %>
  </div>

</div>