<div class="footer">
  <div class="f1">
    <div class="col">
      <ul class="ul-f1">
        <li class="col-item"><%= link_to 'À propos', "#"  %></li>
        <li class="col-item"><%= link_to "Fonctionnement d'Airbnb", "#" %></li>
        <li class="col-item"><%= link_to 'Newsroom', "#" %></li>
        <li class="col-item"><%= link_to 'Investisseurs', "#" %></li>
        <li class="col-item"><%= link_to 'Airbnb Plus', "#" %></li>
        <li class="col-item"><%= link_to 'Airbnb Luxe', "#" %></li>
        <li class="col-item"><%= link_to 'HotelTonight', "#" %></li>
        <li class="col-item"><%= link_to 'Airbnb for Work', "#" %></li>
        <li class="col-item"><%= link_to 'Jeux olympiques', "#" %></li>
        <li class="col-item"><%= link_to 'Communauté', "#" %></li>
      </ul>
    </div>
    <div class="col">
      <ul class="ul-f1">
        <li class="col-item"><%= link_to 'Communauté', "#"  %></li>
        <li class="col-item"><%= link_to 'Diversité et intégration', "#" %></li>
        <li class="col-item"><%= link_to 'Accessibilité', "#" %></li>
        <li class="col-item"><%= link_to 'Partenaires Airbnb', "#" %></li>
        <li class="col-item"><%= link_to "Logements d'urgence", "#" %></li>
        <li class="col-item"><%= link_to 'Inviter des amis', "#" %></li>
        <li class="col-item"><%= link_to 'Airbnb.org', "#" %></li>
      </ul>
    </div>
    <div class="col">
      <ul class="ul-f1">
        <li class="col-item"><%= link_to 'Hôte', "#"  %></li>
        <li class="col-item"><%= link_to 'Héberger des voyageurs', "#" %></li>
        <li class="col-item"><%= link_to 'Organiser une expérience en ligne', "#" %></li>
        <li class="col-item"><%= link_to 'Organiser une expérience', "#" %></li>
        <li class="col-item"><%= link_to 'Accueil responsable', "#" %></li>
        <li class="col-item"><%= link_to 'Centre de ressources', "#" %></li>
        <li class="col-item"><%= link_to 'Community Center', "#" %></li>
      </ul>
    </div>
    <div class="col">
      <ul class="ul-f1">
        <li class="col-item"><%= link_to 'Assistance', "#"  %></li>
        <li class="col-item"><%= link_to 'Nos mesures face au COVID-19', "#" %></li>
        <li class="col-item"><%= link_to "Centre d'aide", "#" %></li>
        <li class="col-item"><%= link_to "Options d'annulation", "#" %></li>
        <li class="col-item"><%= link_to "Service d'aide aux voisins", "#" %></li>
        <li class="col-item"><%= link_to 'Confiance et sécurité', "#" %></li>
      </ul>
    </div>
  </div>
  <div class="f2">
    <div class="left">
      <ul class="ul-f2-left">
        <li class="f2-item-left"><%= link_to "© 2020 Airbnb, Inc. All rights reserved", "#"  %></li>
        <li class="f2-item-left"><%= content_tag :span, "."%></li>
        <li class="f2-item-left"><%= link_to "Confidentialité", "#"  %></li>
        <li class="f2-item-left"><%= content_tag :span, "."%></li>
        <li class="f2-item-left"><%= link_to "Conditions générales", "#"  %></li>
        <li class="f2-item-left"><%= content_tag :span, "."%></li>
        <li class="f2-item-left"><%= link_to "Fonctionnement du site", "#"  %></li>
        <li class="f2-item-left"><%= content_tag :span, "."%></li>
        <li class="f2-item-left"><%= link_to "Infos sur l'entreprise", "#"  %></li>
      </ul>
    </div>
    <div class="right">
      <div>
        <ul class="ul-f2-right money-social">
          <li class="f2-item-right social">€ EUR</li>
          <li class="f2-item-right social"><%= render 'svg/fb' %></li>
          <li class="f2-item-right social"><%= render 'svg/twitter' %></li>
          <li class="f2-item-right"><%= render 'svg/insta' %></li>
        </ul>
      </div>
      <div class="lang">
        <ul class="ul-f2-right lang">
          <li class="f2-item-right"><%= render 'svg/network' %></li>
          <li class="f2-item-right">Français (FR)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
