<!DOCTYPE html>
<html>
  <head>
    <title>Airbb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <script src="https://maps.googleapis.com/maps/api/js?key=<%=Figaro.env.gmaps_key%>" async defer></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/flash"%>
    <%= yield %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
